
.modal_add_flower .modal_wrapper{
  width: max-content;
  border-radius: 0.3rem;
  padding-top: 0.3rem;
}
.close_modal{
  background: var(--heart);
    color: var(--white);
    border: none;
    padding: 0.3rem 0.6rem;
    font-size: 1.3rem;
    border-radius: .3rem;
}
h3{
  margin: 1rem;
  font-size: 1.6rem;
  border-bottom: 3px solid var(--coul_sec);
  padding-bottom: 0.3rem;
  text-align: center;
}
form{
text-align: center;
}
.cont_input{
  margin: 0 1rem 1rem;
  text-align: start;
}
.cont_descr{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.cont_descr .descr_area{
  width: 350px;
  margin-top: 0.3rem;
  background: var(--coul_sec);
  border: 1px solid var(--green);
  border-radius: 0.3rem;
  padding: 0.3rem;  
}
.cont_input label{
  font-size: 1.2rem;
  font-family: fantasy;
  letter-spacing: 1px;
}
.cont_input input,
.cont_input select{
  padding: 0.2rem;
  font-size: 1.1rem;
  font-family: serif;
  text-align: center;
  margin-left: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--green);
  width: 320px;
}
.btn_save{
  background: var(--green);
  color: var(--white);
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--raisin-black);
}
 /* select image */
.cont_image{
  margin-bottom: 1rem;
  background: var(--coul_sec);
  padding: 0.6rem 0;
}

.cont_image .pr{
  width: 400px;
  margin: auto;
  display: none;
}
.cont_image .file_input{
  margin-bottom: 0.2rem;
}
.cont_image .file_input label{
  background: var(--white);
  display: block;
  padding: 0.6rem;
  border-radius: 4px;
  width: 400px;
  line-height: 25px;
  border: 2px solid var(--green);
  position: relative;
  margin: auto;
  text-align: start;
  overflow: hidden;;
}
.cont_image .file_input label:before{
  position: absolute;
  content: "Ouvrir";
  right: -1px;
  top: -1px;
  width: 100px;
  height: 101%;
  line-height: 49px;
  background: var(--yellow);
  text-align: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.pr strong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;  
}
.pr strong h4{
  background: var(--green);
  padding: 0.2rem 1rem;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
}
.pr progress{
  width: 100%;
  height: 30px;
  appearance: none;
  border-radius: 5px;
}
.pr progress::-webkit-progress-bar{
  width: 100%;
  height: 20px;
  background: whitesmoke;
}
.pr progress::-webkit-progress-value{
  background: #00aced;
}
