*:focus {
    box-shadow: 0 0 10px blue;
  }
  .open_modal {
    color: black;
    font-size: 1.5rem;
    background: #dbdb;
    padding: 1rem;
    border-radius: 2rem;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s both;
  }
  .modal_wrapper {
    background: #fff;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    overflow: auto;
    animation: slideFromTop 0.5s both;
  }
  .modal[aria-hidden="true"] {
    animation-name: fadeOut;
  }
  .modal[aria-hidden="true"] .modal_wrapper {
    animation-name: slideToBottom;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slideFromTop {
    from {
      transform: translateY(-50px);
    }
    to {
      transform: translateY(0px);
    }
  }
  @keyframes slideToBottom {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(50px);
    }
  }