*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
  }
  :root {
      --green: #069c54;
      --white: #ffffff;
      --raisin-black: #1d2521;
      --coul_sec: #c7d1cc;
      --heart: #b51e45;
      --yellow: #ff9f1c;
  }